<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주식예측</title>
    <style>
        @import "/static/index.css";
    </style>
</head>
<body>
    <div id="header">
        <h1>주식예측</h1>
    </div>
    <div id = "section">
        <p>{{datas}}</p>
    </div>
    <div id = "sidebar">
        <a href="/login"> 로그인</a>
        <form action="/search" method="POST">
            <input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <datalist id="suggestions">
                <option value="BTC">비트코인</option>
                <option value="ETH">이더리움</option>
                <option value="DOGE">도지</option>
                <option value="AMZN">에이다</option>
                <option value="SOL">솔라나</option>
                <option value="SHIB">시바</option>
                <option value="ETH">이더리움</option>
                <option value="AMD">도지</option>
                <option value="AMZN">에이다</option>
                <option value="AMZN">솔라나</option>
            </datalist>
            <input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">            
            <input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">            
            <input type="submit" value="검색">
        </form>
    </div>
</body>
</html>
