<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주식예측</title>
    <style>
        @import "/static/index.css";
    </style>
</head>
<body>
    <div id="header">
        <h1>주식예측</h1>
    </div>
    <div id = "section">
        <p>아무거나</p>
    </div>
    <div id = "sidebar">
        <form action="/search" method="POST">
            <input type="text" name="nameOfStock" placeholder="주식 이름 입력">
            <input type="submit" value="검색">
        </form>
    </div>
</body>
</html>