<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import "/static/css/login.css";
    </style>
</head>
<body>
    <div id="header">
        <h1>주식예측</h1>
    </div>
    <div id="login">
        <form action="/index" method="POST">
            <input type="text" name="" id="" placeholder="아이디">
            <br>
            <input type="password" placeholder="비밀번호">
            <br><br>
            <input type="submit">
        </form>
        <button><img src="/static/src/btnD_아이콘사각.png" alt="네이버로그인" onclick="location.href='/naver/login'"></button>
    </div>
</body>
</html>