<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import "/static/search.css";
    </style>
</head>
<body>
    {% for i in range(4) %}
        {%if nameOfStock[i] != '':%}
        <div class="searchsection">
            <p>{{nameOfStock[i]}}</p>
        </div>
        {%endif%}
        {% if i == 0:%}
        <div id="sidebar">
            <form action="/search" method="POST">
                <input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <datalist id="suggestions">
                <option value="AAPL">애플</option>
                <option value="ABNB">에어비앤비</option>
                <option value="AMD">Advanced Micro Devices</option>
                <option value="AMZN">아마존닷컴</option>
                <option value="ARKK">ARKInnovation ETF</option>
                <option value="ARM">ARM홀딩스</option>
                <option value="ATVI">액티비전 블리자드</option>
                <option value="AVGO">브로드컴</option>
                <option value="AZN">아스트라제네카</option>
                <option value="BA">보잉</option>
                <option value="BABA">알리바바</option>
            </datalist><input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <datalist id="suggestions">
                <option value="AAPL">애플</option>
                <option value="ABNB">에어비앤비</option>
                <option value="AMD">Advanced Micro Devices</option>
                <option value="AMZN">아마존닷컴</option>
                <option value="ARKK">ARKInnovation ETF</option>
                <option value="ARM">ARM홀딩스</option>
                <option value="ATVI">액티비전 블리자드</option>
                <option value="AVGO">브로드컴</option>
                <option value="AZN">아스트라제네카</option>
                <option value="BA">보잉</option>
                <option value="BABA">알리바바</option>
            </datalist><input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <datalist id="suggestions">
                <option value="AAPL">애플</option>
                <option value="ABNB">에어비앤비</option>
                <option value="AMD">Advanced Micro Devices</option>
                <option value="AMZN">아마존닷컴</option>
                <option value="ARKK">ARKInnovation ETF</option>
                <option value="ARM">ARM홀딩스</option>
                <option value="ATVI">액티비전 블리자드</option>
                <option value="AVGO">브로드컴</option>
                <option value="AZN">아스트라제네카</option>
                <option value="BA">보잉</option>
                <option value="BABA">알리바바</option>
            </datalist><input type="text" list="suggestions" name="nameOfStock[]" placeholder="종목코드 입력">
            <datalist id="suggestions">
                <option value="AAPL">애플</option>
                <option value="ABNB">에어비앤비</option>
                <option value="AMD">Advanced Micro Devices</option>
                <option value="AMZN">아마존닷컴</option>
                <option value="ARKK">ARKInnovation ETF</option>
                <option value="ARM">ARM홀딩스</option>
                <option value="ATVI">액티비전 블리자드</option>
                <option value="AVGO">브로드컴</option>
                <option value="AZN">아스트라제네카</option>
                <option value="BA">보잉</option>
                <option value="BABA">알리바바</option>
            </datalist>
                <input type="submit" value="검색">
            </form>
        </div>
        {%endif%}
    {% endfor %}
</body>
</html>