<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import "/static/search.css";
    </style>
</head>
<body>
    {% for i in range(4) %}
        {%if nameOfStock[i] != '':%}
        <div class="searchsection">
            <p>{{nameOfStock[i]}}</p>
        </div>
        {%endif%}
        {% if i == 0:%}
        <div id="sidebar">
            <form action="/search" method="POST">
                <input type="text" list="suggestions" name="nameOfStock[]" placeholder="주식 이름 입력">
                    <datalist id="suggestions">
                        <option value="APPL">
                    </datalist>
                <input type="text" name="nameOfStock[]" placeholder="주식 이름 입력">
                <input type="text" name="nameOfStock[]" placeholder="주식 이름 입력">
                <input type="text" name="nameOfStock[]" placeholder="주식 이름 입력">
                <input type="submit" value="검색">
            </form>
        </div>
        {%endif%}
    {% endfor %}
</body>
</html>