#header{
    width: 100%;
}
#container{
    width: 90%;
    margin: 0 auto;
}
#section{
    width: 79%;
    height: 750px;
    float: left;
    border: solid black 1px;
}
#sidebar{
    width: 20%;
    height: 750px;
    float: right;
    border: solid black 1px;
}
#header > h1{
    text-align: center;
}
form > input{
    margin-top: 10px;
}
img{
    width: 100%;
}
#header > h1{
    text-align: left;
}